<!DOCTYPE html>
<html layout:decorator="layouts/master">
	<head>
		<title>Index</title>
	</head>
	<body>
		<th:block layout:fragment="page_title">Index</th:block>
	    <div layout:fragment="content">
	        <h1>Welcome to Spring-starter</h1>
	        Index.html file, please your content here
	        <p>Check out the sample @RestController <a href="/sample/json">SampleController.java</a> but create some data first <a href="/sample/create?name=test">SampleController.java</a></p>
	        <div id="created" th:text="${#dates.format(date)}">May 11, 2015</div>
	    </div>
	</body>
</html>